/* Utility first */
.grid {
  display: grid;
}

.grid-auto-flow {
  grid-auto-flow: column;
}

.grid-two-col {
  grid-template-columns: repeat(2, 1fr);
}

.gap-16 {
  gap: 16px;
}


.text-2xl {
  font: var(--h1);

}

.text-xl {
  font: var(--h2);

}

.text-lg {
  font: var(--h3);

}

.text-sm {
  font: var(--text-sm);

}